<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% include 'blog/navbar.html' %}
        {% include 'blog/logo.html' %}
        {% block breadcrumb %}{% endblock %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include 'blog/sidebar.html' %}
                </div>
                <div class="col-md-9">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <div style="height: 50px">
        </div>
        {% include 'blog/footer.html' %}
    </body>
</html>